img {
    max-height: 50px;
    max-width: 100px;
}

#navbarNavAltMarkup {
    margin-left: 1.50rem;
}

#saldo-box {
    margin-right: 7.50rem;
}

#input-saldo {
    margin-left: 0.55rem;
    margin-bottom: 0.55rem;
    width: 8.0rem;
    height: 1.50rem;
}
.margin{
    margin-left: 1.5rem;
    margin-right:  5rem;
}
#logo {
    margin-left: 5rem;
    margin-right: 1rem;
}
.imglogo {
    height: 90px;
    max-height: 180px;
}
.header-component {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 30%, rgb(39, 0, 0)70%,rgb(39, 0, 0) 81%, rgb(39, 0, 0) 100%);
}
