img {
    max-height: 50px;
    max-width: 100px;
}
#navbarNavAltMarkup {
    margin-left: 1.50rem;
}
#saldo-box {
    margin-right: 7.50rem;
}
.border-circle {
    border-radius: 50px;
}
#input-saldo {
    margin-left: 0.55rem;
    margin-bottom: 0.55rem;
    width: 8.0rem;
    height: 1.50rem;
}
.margin{
    margin-left: 1.5rem;
    margin-right:  5rem;
}
#logo {
    margin-left: 5rem;
    margin-right: 1rem;
}
.imglogo {
    height: 70px;
    max-height: 180px;
}
.header-component {
    background-color: rgb(39, 58, 83);
}
.balance-user {
    background-color: rgba(255, 255, 255, 0.05);
    
    
}
