
.left-chat {
  min-height: 550px;
}
.mini {
  max-width: 50px;
  max-width: 50px;
}
span.font {
  font-size: 1.5em;
  text-align: justify;
  font-weight: bold;
  padding: 20px;
}
.box-text {
  width: 430px;
  max-width: 430px;
  text-align: justify;
}
.mini-user {
  max-width: 40px;
  max-width: 40px;
  border-radius: 50px;
  margin-top: 10px;
  margin: 5px;
}
.alinhamento-vertical {
  position: absolute;
  top: 50%;
}
label {
  color: white;
  font-size: 1.2em;
}
.email {
  max-width: 40px;
  max-height: 40px;
  
}
::-webkit-scrollbar {
  display: none;
  
}
::-webkit-scrollbar-thumb {
  display: none;
}
.overflow-scroll {
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.central-p {
  display: flex;
  align-items: center;
  padding:4px;
}
#mini-arrow {
  max-width: 25px;
  max-height: 25px;
}
.input-balance {
  width: 270px;
  height: 60px;
  text-align: center;
  font-size: 1.6em;
}
.bet-group {
  background-color: rgb(255, 255, 255,0.15);
  max-width: 500px;
  padding: 20px;
  padding-left: 111px;
  border-radius: 30px;
}
.child {
  position: absolute;
  top: 92%;
  left: 1%;
}

.parent {
  position: relative;
}
.width-big {
  width: 400px;
}
.imgroulette {
  width: 800px;
  height: 800px;
  opacity: 80%;
  background-color: rgb(255, 255, 255,0.6);
  border-radius: 500px;

}
#balance {
  margin-left: 9px;
}
.rotate {
  animation: rotate 4s linear infinite;
  transition: transform 4s ease-in-out;
}
.mid-component {
  background-color: rgb(39, 58, 83);
  padding: 25px;
  padding-top: 60px;
  
}
.left-component {
  background-color: rgb(39, 58, 83);
}
.right-component {
  background-color: rgb(39, 58, 83);
  max-width: 100vw;
}
.rotate-infinite {
    -webkit-animation: rotate 5s normal linear;
    animation: rotate 2s normal linear;
}
.no-padding {
  padding: 0px;
}
.borda {
  border-radius:50px;
  
}
.padding-chat {
  padding-top: 20px;
  padding-right: 23px;
}
.font-button {
  font-size: 1.5em;
}
#input {
  min-width: 300px;
}
.chat {
  background-color: rgb(255, 255, 255,0.15);
  width: 500px;
  max-width: 500px;
  border-radius: 12px;
  height: 1050px;
  margin-left: 20px;
  
  word-wrap: break-word;

}
.chat-top {
  background-color: #2e3c49;
  color: white;
  min-height: 1015px;

  border-radius: 20px;
  margin-left: 5px;
  
}

@keyframes rotate {
    0% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
      -webkit-transform: rotate3d(0, 0, 1, 180deg);
      transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
      -webkit-transform: rotate3d(0, 0, 1, 270deg);
      transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 360deg);
      transform: rotate3d(0, 0, 1, 360deg);
    }
} 


