.minha {
  border: 3px solid rgb(41, 41, 41);
  min-height: 550px;
}
.mini {
  max-width: 90px;
  max-width: 90px;
}

.alinhamento-vertical {
  position: absolute;
  top: 50%;
}
label {
  color: white;
  font-size: 1.2em;
}
.email {
  max-width: 40px;
  max-height: 40px;
  
}
.pai {
  display: flex;
  align-items: center;
}
.input-saldo {
  width: 220px;
}
.child {
  position: absolute;
  top: 92%;
  right: 15%;
  
}
.parent {
  position: relative;
}
.width-big {
  width: 400px;
}
.imgroulette {
  width: 800px;
  height: 800px;
}
#balance {
  margin-left: 9px;
}
.rotate {
  animation: rotate 4s linear infinite;
  transition: transform 4s ease-in-out;
}
.mid-component {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 30%, rgba(37,0,0,1) 81%, rgb(39, 0, 0) 100%);
  background-position: center -80px;
}
.left-component {
  background-color: rgba(0,0,0,1);
}
.right-component {
  background-color:rgb(39, 0, 0);
}
.rotate-infinite {
    -webkit-animation: rotate 5s normal linear;
    animation: rotate 2s normal linear;
}
.no-padding {
  padding: 0px;
}
@keyframes rotate {
    0% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
      -webkit-transform: rotate3d(0, 0, 1, 180deg);
      transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
      -webkit-transform: rotate3d(0, 0, 1, 270deg);
      transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 360deg);
      transform: rotate3d(0, 0, 1, 360deg);
    }
} 


