
<div class="row">
    <div class="col border-dark p-2 mt-2 h-100 minha">
        1-3
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quidem fugit quibusdam asperiores maiores voluptatibus cupiditate hic officia culpa adipisci impedit repellat atque quam iure, est illum ad, ex architecto!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga non iure quis excepturi libero voluptatem, laudantium reiciendis in ipsam accusantium dolor ratione fugit labore esse inventore quisquam magni, repellat ipsum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quidem fugit quibusdam asperiores maiores voluptatibus cupiditate hic officia culpa adipisci impedit repellat atque quam iure, est illum ad, ex architecto!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga non iure quis excepturi libero voluptatem, laudantium reiciendis in ipsam accusantium dolor ratione fugit labore esse inventore quisquam magni, repellat ipsum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quidem fugit quibusdam asperiores maiores voluptatibus cupiditate hic officia culpa adipisci impedit repellat atque quam iure, est illum ad, ex architecto!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga non iure quis excepturi libero voluptatem, laudantium reiciendis in ipsam accusantium dolor ratione fugit labore esse inventore quisquam magni, repellat ipsum.
    </div>
    <div class="col-6">
        <div class="d-flex justify-content-center">
            <img src="../../../assets/roleta-otavio.png" alt="" id="roleta" class="rotate" [ngStyle]="{'transform':'rotate( '+ getAngulo() +' )'}" >
            
        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                <img src="../../../assets/seta-otavio.png" alt="" class="mini">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-around mt-2 mb-5">
                    <button class="btn btn-dark col-4 p-4 ">Preto</button>
                    <button class="btn btn-success col-4 p-4 mx-2">Verde</button>
                    <button class="btn btn-danger col-4 p-4">Vermelho</button>
                </div>
            </div>
            
            
        </div>  
    </div>
    <div class="col">
        
        <div class="container h-100 bg-dark">
            
            <div class="d-flex justify-content-center">
                <div class="alinhamento-vertical">
                    <label for="balance">Valor da Aposta</label>
                    <input type="text" class="form-control" id="balance">
                    <div class="col">
                        <div class="row col-5">    
                            <button class="btn btn-secondary">Alo</button>
                            <button class="btn btn-secondary">Alo</button>
                        </div>
                        <div class="row col-5">
                            <button class="btn btn-secondary">Alo</button>
                            <button class="btn btn-secondary">Alo</button>
                            
                        </div>  
                    </div>
                        
                    
                </div>
                
            </div>

        </div>
       
    </div>
    
</div>

    

