<div class="row">
    <div class="col border-dark p-2 mt-2 minha vh-100">
        <div class="input-group mb-3">
            <div class="input-group-prepend ">
                <div class="container position-sticky">
                    <div class="row ">
                        <div class="col">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae consectetur illum,
                            praesentium minus alias excepturi, ut ratione perspiciatis ea tenetur assumenda fugit!
                            Doloremque, magni numquam et porro vero necessitatibus unde.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae provident quos totam
                            cupiditate quam veniam odit laudantium deleniti nihil repudiandae eius ipsum aperiam optio
                            repellat quis, laborum temporibus excepturi assumenda?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum velit quod eligendi ea,
                            minima et. Nobis, iure omnis sed ratione sit a, odit quos dolores quibusdam perferendis
                            eveniet modi repellendus.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, dolore velit? Dolor
                            nostrum dolore delectus deleniti adipisci cumque velit hic ex sapiente quod. Provident,
                            cupiditate? Neque facilis nostrum assumenda rem.
                            <div class="container pai">
                                <div class="input-group-prepend col-1">
                                    <img src="../../../assets/email.png" alt="" class="email">
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                            





                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>
    <div class="col-6">
        <div class="d-flex justify-content-center">
            <img src="../../../assets/roleta-otavio.png" alt="" id="roleta" class="rotate"
                [ngStyle]="{'transform':'rotate( '+ getAngulo() +' )'}">

        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                <img src="../../../assets/seta-otavio.png" alt="" class="mini">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-around mt-2 mb-5">
                    <button class="btn btn-dark col-4 p-4 ">Preto</button>
                    <button class="btn btn-success col-4 p-4 mx-2">Verde</button>
                    <button class="btn btn-danger col-4 p-4">Vermelho</button>
                </div>
            </div>


        </div>
    </div>
    <div class="col">

        <div class="container h-100 bg-dark">

            <div class="d-flex justify-content-center">
                <div class="alinhamento-vertical">
                    <label for="balance">Valor da Aposta</label>
                    <input type="text" class="form-control" id="balance">
                    <div class="col">
                        <div class="row col-5">
                            <button class="btn btn-secondary">1</button>
                            <button class="btn btn-secondary">10</button>
                        </div>
                        <div class="row col-5">
                            <button class="btn btn-secondary">100</button>
                            <button class="btn btn-secondary">1000</button>

                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>

</div>